{%- for diccionario in palabras.significado %}
palabra: {{diccionario.palabra}}
significado: {{diccionario.significado}}
{%- endfor %}
{%- for diccionario in palabras.significado %}
palabra: {{diccionario.palabra}}
significado: {{diccionario.significado}}
{%- endfor %}